body{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#sum{
	font-size: x-small;
	text-align: center;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

#card {
	height: 200px;
	width: 100px;
}

